<div class="navigation top">
    <div class="brand drop">
        <img src="https://d1xkny9i4khr02.cloudfront.net/static/images/pinnacle-logo-compressed.svg" alt="Pinnacle Wealth Brokers partial logo">
    </div>
    <nav>
        <ul>
            <a class="flip" href="/dashboard"><li>Dashboard</li></a>
            <a class="flip" href="/dashboard/representatives"><li>Represenatives</li></a>
            <a class="flip" href="/dashboard/headoffice"><li>Head Office</li></a>
        </ul>
    </nav>
</div>
