<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
</head>
<body>
{{{navigation}}}
<div class="representatives">
    <div class="currentusers">
        <ul class="ulsearch">
            <li class="search">Search</li>
            <li><input class="searchbar" type="text" placeholder="Search" id="search"></li>
        </ul>
        <ul class="reps" id="reps">
        </ul>
        <ul class="options">
            <li class="create">Create New Rep</li>
            <li class="delete">Delete Rep</li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/static/js/representatives.js"></script>
<script type="text/javascript" src="/static/js/navigation.js"></script>
</body>
</html>
